<div class="jumbotron main-content">
    <div class="added-burgers"></div>
    <div class="side-content">
        <h1 class="header"> Eat-Da-Burger! </h1>

        <div class="input-group-lg burgerz-input">
            <div class="input-group-prepend">
                <span class="input-group-text">Add a burger</span>
            </div>
            <textarea class="form-control burger-input" aria-label="With textarea"></textarea>
        </div>
        <br>
        <button class="burger-button btn-lg btn-success" type="submit">Submit</button>
    </div>
    <div class="devoured-burgers">overhere</div>
</div>